<a href="https://colab.research.google.com/github/westmorillo/Project_python_clean/blob/main/Project_Clean_Data_SISTEMA_Clean_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import glob

In [ ]:
import xlrd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS

/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS

In [ ]:
!ls

InformeDeVentasDetallado_2020-01.xlsx  InformeDeVentasDetallado_2021_03.xlsx
InformeDeVentasDetallado_2020-02.xlsx  InformeDeVentasDetallado_2021_04.xlsx
InformeDeVentasDetallado_2020-03.xlsx  InformeDeVentasDetallado_2021_05.xlsx
InformeDeVentasDetallado_2020-04.xlsx  InformeDeVentasDetallado_2021_06.xlsx
InformeDeVentasDetallado_2020-05.xlsx  InformeDeVentasDetallado_2021_07.xlsx
InformeDeVentasDetallado_2020-06.xlsx  InformeDeVentasDetallado_2021_08.xlsx
InformeDeVentasDetallado_2020-07.xlsx  InformeDeVentasDetallado_2021_09.xlsx
InformeDeVentasDetallado_2020-08.xlsx  InformeDeVentasDetallado_2021_10.xlsx
InformeDeVentasDetallado_2020-09.xlsx  InformeDeVentasDetallado_2021_11.xlsx
InformeDeVentasDetallado_2020-10.xlsx  InformeDeVentasDetallado_2021-12.xlsx
InformeDeVentasDetallado_2020-11.xlsx  InformeDeVentasDetallado_2022-01.xlsx
InformeDeVentasDetallado_2020-12.xlsx  InformeDeVentasDetallado_2022-02.xlsx
InformeDeVentasDetallado_2021_01.xlsx  Info.txt
InformeDeVentasDetallado_2021_02.xlsx


Locate all files names

In [ ]:
filesnames= glob.glob('/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/*.xlsx')

In [ ]:
filesnames

['/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_11.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_09.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_10.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_08.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_07.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_06.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_05.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021-12.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_04.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_03.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_02.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2021_01.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-12.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-11.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-10.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-09.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-08.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-07.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-06.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-05.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-04.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-03.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-02.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2020-01.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2022-02.xlsx',
 '/content/drive/MyDrive/TOSTADISIMO/BASE DE DATOS/VENTAS/InformeDeVentasDetallado_2022-01.xlsx']

In [ ]:
concat_all_sheet=pd.DataFrame()

In [ ]:
concat_all_sheet

Empty DataFrame
Columns: []
Index: []

Extract all the data and join them in one dataframe

In [ ]:

for file in filesnames:
  df=pd.read_excel(file, header=None,skiprows=1),
  concat_all_sheet_single=pd.concat(df,sort=False)
  concat_all_sheet=concat_all_sheet.append(concat_all_sheet_single)

Rename all columns

In [ ]:
concat_all_sheet=concat_all_sheet.rename({0:'Fecha', 
                                 1:'Hora', 
                                 2:'Mesa',
                                 3:'Mesero', 
                                 4:'Caja', 
                                 5:'Turno', 
                                 6:'Cliente',
                                 7: 'DNI/RUC', 
                                 8:'Tipo doc.', 
                                 9:'Seri doc.', 
                                 10:'Num. doc', 
                                 11:'Efectivo', 
                                 12:'Credito',
                                 13:'Debito', 
                                 14:'PEDIDOS YA', 
                                 15:'RAPPI', 
                                 16:'UBER', 
                                 17:'Transferencia', 
                                 18:'Web Justo',
                                 19:'Amipas', 
                                 20:'SOCIOS', 
                                 21:'Transferencia Local', 
                                 22:'kushkiCL', 
                                 23:'Propina',
                                 24:'Total pagado', 
                                 25:'Venta (excl. impuestos)', 
                                 26:'IVA', 
                                 27:'Otros Impuestos',
                                 28:'Impuestos', 
                                 29:'Venta (incl. impuestos)', 
                                 30:'Descuento', 
                                 31:'Tipo descuento',
                                 32:'Canal de venta', 
                                 33:'Estado', 
                                 34:'Anulado por', 
                                 35:'Motivo', 
                                 36:'Contado/Crédito',
                                 37:'Producto', 
                                 38:'Area de produccion', 
                                 39:'Categoria', 
                                 40:'Cantidad', 
                                 41:'Precio',
                                 42:'Costo teorico', 
                                 43:'Utilidad', 
                                 44:'Código producto', 
                                 45:'N° Pedido',
                                 46:'Fecha Facturación', 
                                 47:'Fecha de Pedido', 
                                 48:'Telefono cliente',
                                 49:'Dirección cliente', 
                                 50:'Distrito cliente', 
                                 51:'Giro', 
                                 52:'Codigo',
                                 53:'Canal de delivery', 
                                 54:'Método de Pago', 
                                 55:'Días de Crédito',
                                 56:'Cupón de descuento' 
                                }, axis=1)

In [ ]:
concat_all_sheet

,Fecha,Hora,Mesa,Mesero,Caja,Turno,Cliente,DNI/RUC,Tipo doc.,Seri doc.,...,Distrito cliente,Giro,Codigo,Canal de delivery,Método de Pago,Días de Crédito,Cupón de descuento,57,58,59
0,01-11-2021,14:05:22,N/N,NaN,Caja 01,Turno Entre Semana (Lunes A Jueves),Jose Gabriel Ortiz,111111111,Boleta,B001,...,NaN,NaN,NaN,Canal Justo,Pago online ($ 12000),-,-,NaN,NaN,NaN
1,01-11-2021,14:30:21,C01,Nayibe,Caja 01,Turno Entre Semana (Lunes A Jueves),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,OTRO,NaN,NaN,Debito ($ 12500),-,-,NaN,NaN,NaN
2,01-11-2021,14:44:54,C01,Nayibe,Caja 01,Turno Entre Semana (Lunes A Jueves),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,OTRO,NaN,NaN,Debito ($ 5500),-,-,NaN,NaN,NaN
3,01-11-2021,14:51:33,C01,Nayibe,Caja 01,Turno Entre Semana (Lunes A Jueves),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,OTRO,NaN,NaN,Debito ($ 8500),-,-,NaN,NaN,NaN
4,01-11-2021,15:23:31,C01,Nayibe,Caja 01,Turno Entre Semana (Lunes A Jueves),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,OTRO,NaN,NaN,Efectivo ($ 17900),-,-,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,31-01-2022,21:16:29,N/N,Nayibe,Caja 01,Turno Fin De Semana (Viernes Y Sabado),Patricia Barreto,111111111,Nota de Venta,001,...,"San Diego 516, Dpto 703, Santiago,Santiago,Chile",-,-,-,NaN,NaN,Delivery Telefónico,Transferencia ($ 14500),-,-
972,31-01-2022,21:28:48,C01,Nayibe,Caja 01,Turno Fin De Semana (Viernes Y Sabado),CLIENTE GENERICO,111111111,Boleta,B001,...,SANTIAGO,NaN,NaN,NaN,OTRO,NaN,NaN,Efectivo ($ 23200),-,-
973,31-01-2022,21:28:48,C01,Nayibe,Caja 01,Turno Fin De Semana (Viernes Y Sabado),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,31-01-2022,21:28:48,C01,Nayibe,Caja 01,Turno Fin De Semana (Viernes Y Sabado),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,31-01-2022,21:28:48,C01,Nayibe,Caja 01,Turno Fin De Semana (Viernes Y Sabado),CLIENTE GENERICO,111111111,Boleta,B001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
concat_all_sheet.shape

(35302, 60)

Clean hour and date column in one datetime column

In [ ]:
concat_all_sheet['Fecha']=concat_all_sheet['Fecha'] + " " + concat_all_sheet['Hora']

In [ ]:
concat_all_sheet['Fecha'] = concat_all_sheet['Fecha'].astype('datetime64[ns]')

Export the file to XLSX

In [ ]:
concat_all_sheet.to_excel('VentasSistemaTotal.xlsx')